@font-face{
  font-family: Road Rage;
  src: url(Road_Rage.otf)
}
@font-face{
  font-family: Blade;
  src: url(blade.ttf)
}
body {
  font-family: sans-serif;
  background: rgb(28,30,67);
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 1fr) */
  grid-auto-rows: minmax(10em, auto);
  /* padding: 5em; */
  grid-template-areas:
    "a a a a a a a a"
    "b b c c d d e e"
    "g g g g g g g g"
    "t t t t t t t t"
    "t t t t t t t t"
  
}

.dev-banner {
  grid-area: a;
  background: #BFE6EC;
  color: white;
  font-size: 7em;
  text-align: center;
  letter-spacing: 30px;
  font-family: Blade;

}
.dev-text {
  font-size: 1em;
  background: -webkit-linear-gradient(#eee, #1c1f41);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  top: 50%;
}

.section-wrapper {
  /* grid-area: b; */
  display: grid;
  /* grid-template-areas: "same"; */
  text-align: center;
  padding: 1em;
  align-content: center;
}
.about-wrapper {
  grid-area: b;
  grid-template-areas: "about"
}
.contact-wrapper {
  grid-area: c;
  grid-template-areas: "contact";
}
.projects-wrapper {
  grid-area: d;
  grid-template-areas: "projects";
}
.demo-wrapper {
  grid-area: e;
  grid-template-areas: "demo"
}

.about {
  width: 100%;
  font-size: 4em;
  font-family: Road Rage;
  grid-area: about;
  margin-top: 4%;
  color: red;
  transform: rotate(-15deg)
}
.contact {
  width: 100%;
  font-size: 4em;
  font-family: Road Rage;
  grid-area: contact;
  margin-top: 4%;
  color: red;
  transform: rotate(-15deg)
}
.projects {
  width: 100%;
  font-size: 4em;
  font-family: Road Rage;
  grid-area: projects;
  margin-top: 4%;
  color: red;
  transform: rotate(-15deg)
}
.demo {
  width: 100%;
  font-size: 4em;
  font-family: Road Rage;
  grid-area: demo;
  margin-top: 4%;
  color: red;
  transform: rotate(-15deg)
}
.triangle {
  width: 50%;
  justify-self: center;
  transform: rotate(-5deg)
}
.about-triangle {
  grid-area: about;
}
.contact-triangle {
  grid-area: contact;
  transform: rotate(5deg)
}
.projects-triangle {
  grid-area: projects;
  transform: rotate(-5deg)
}
.demo-triangle {
  grid-area: demo;
  transform: rotate(5deg)
}

.checker-board {
  grid-area: g;
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 4em;
  border-style: solid;
  border-width: .5em;
  border-color: #BFE6EC
}
.white {
  /* background: rgb(55, 233, 203); */
  background: #BFE6EC
}
.black {
  /* background: rgb(57, 46, 121); */
}
