@font-face{
  font-family: Road Rage;
  src: url(Road_Rage.otf)
}
@font-face{
  font-family: Blade;
  src: url(blade.ttf)
}
@font-face{
  font-family: Atarian;
  src: url(atarian.ttf);
}
@font-face {
  font-family: Outrun;
  src: url(outrun_bold.otf);
}
@font-face {
  font-family: Third Rail;
  src: url(third-rail.ttf)
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  /* background: rgb(28,30,67); */
  background: rgb(150,0,255);
  /* background: rgb(76,81,163); */
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}
.wrapper {
  margin-top: 0;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  /* grid-template-rows: repeat(8, 1fr) */
  grid-auto-rows: minmax(10em, auto);
  /* padding: 5em; */
  grid-template-areas:
    "a a a a a a a a"
    "b b c c d d e e"
    "g g g g g g g g"
    "t t t t t t t t"
    "t t t t t t t t"
  
}

.dev-banner {
  margin-top: 0;
  
  grid-area: a;
  /* background: rgb(64,217,242); */
  border-style: solid;
  border-top-width: .5em;
  border-color:rgb(64,217,242);
  border-bottom: none;
  border-left: none;
  border-right: none;
  color: white;
  font-size: 7em;
  text-align: center;
  letter-spacing: 30px;
  font-family: Atarian;

}
.dev-text {
  font-size: 1em;
  /* background: -webkit-linear-gradient(rgb(64,217,242), #e74369);   */
  /* background: -webkit-linear-gradient(#e74369,#f9e156);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;  */
  /* color:rgb(255,113,206); */
  color: rgb(255,251,150);
  top: 50%;
  /* text-shadow: 0px 0px 20px rgba(255, 113, 210, 0.664); */
}

.section-wrapper {
  /* grid-area: b; */
  display: grid;
  /* grid-template-areas: "same"; */
  text-align: center;
  padding: 1em;
  align-content: center;
}
.about-wrapper {
  grid-area: b;
  grid-template-areas: "about"
}
.contact-wrapper {
  grid-area: c;
  grid-template-areas: "contact";
}
.projects-wrapper {
  grid-area: d;
  grid-template-areas: "projects";
}
.demo-wrapper {
  grid-area: e;
  grid-template-areas: "demo"
}

.about {
  width: 100%;
  font-size: 4em;
  font-family: Third Rail;
  grid-area: about;
  margin-top: 4%;
  /* color: #e74369; */
  color: rgb(255,113,206);
  transform: rotate(-15deg);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, .8);
  
}
.contact {
  width: 100%;
  font-size: 4em;
  font-family: Third Rail;
  grid-area: contact;
  margin-top: 4%;
  /* color: #e74369; */
  color: rgb(255,113,206);
  
  transform: rotate(-15deg);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, .8);  
}
.projects {
  width: 100%;
  font-size: 4em;
  font-family: Third Rail;
  grid-area: projects;
  margin-top: 4%;
  /* color: #e74369; */
  color: rgb(255,113,206);
  
  transform: rotate(-15deg);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, .8);
  transition-property: all;
  transition-duration: .5s;
}
.projects:hover{
  transform: rotate(-15deg) translate(8px,8px);
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8)
}
.demo {
  width: 100%;
  font-size: 4em;
  font-family: Third Rail;
  grid-area: demo;
  margin-top: 4%;
  /* color: #e74369; */
  color: rgb(255,113,206);
  
  transform: rotate(-15deg);
  text-shadow: 10px 10px 10px rgba(0, 0, 0, .8);  
}
.triangle {
  width: 50%;
  justify-self: center;
  transform: rotate(-5deg)
}
.about-triangle {
  grid-area: about;
}
.contact-triangle {
  grid-area: contact;
  transform: rotate(5deg)
}
.projects-triangle {
  grid-area: projects;
  transform: rotate(-5deg)
}
.demo-triangle {
  grid-area: demo;
  transform: rotate(5deg)
}

.checker-board {
  grid-area: g;
  display:grid;
  grid-template-columns: repeat(20, 1fr);
  grid-template-rows: repeat(2, 1fr);
  height: 4em;
  border-style: solid;
  border-width: .5em;
  border-color: rgb(64,217,242)
}
.white {
  /* background: rgb(55, 233, 203); */
  background: rgb(64,217,242)
}
.black {
  /* background: rgb(57, 46, 121); */
}
#p5 {
  margin-bottom: 0;
  padding-bottom:0;
  height: calc(100vh * .5)  
}
#defaultCanvas0 {
  margin-bottom: 0;
  padding-bottom:0;
}
